
*.DS_Store
*.tlog
*.obj
*.exe
*.manifest
*.res
*.log
*.pdb
*.rc
*.idb
*.sdf
*.suo
*.lastbuildstate
*.opensdf
*.ilk

MazeBall/MazeBall.xcodeproj/xcuserdata/jthomson.xcuserdatad/xcschemes/xcschememanagement.plist

MazeBall/MazeBall.xcodeproj/xcuserdata/jthomson.xcuserdatad/xcschemes/MazeBall-macosx.xcscheme

MazeBall/MazeBall.xcodeproj/project.xcworkspace/xcuserdata/jthomson.xcuserdatad/UserInterfaceState.xcuserstate
